@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<TableTest.Models.Customer>

<!doctype html>
<html>
<head>
    <title>@ViewBag.Title - MVC Datatables App</title>

</head>

<body>
    <div class="container">
        <h3>Customer Report</h3>

        <div class="span12">
            <form class="filter-form">
                <h3>Filters</h3>
                <div>
                    <label>Title :</label>
                    <input type="text" value="" class="filter" data-column-index="1">
                </div>
                <div>
                    <label>Author :</label>
                    <input type="text" value="" class="filter" data-column-index="2">
                </div>
                <div>
                    <label>Office :</label>
                    <input type="text" value="" class="filter" data-column-index="3">
                </div>
            </form>

            <table class="table table-striped" id="datatab">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Postal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Company)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Account)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreditCard)
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</body>

</html>